<!--<%= asset_path('morrigan_editor_rails/iframe.css') %>-->
<%= MorriganEditorRails::Editor.sanitize '<b><a href="http://foo.com/">foo</a></b><img src="bar.jpg">' %>
<div morrigan-editor="true" id="editor" editor-width="100%" editor-height="300px"></div>