<!--<%= asset_path('morrigan_editor_rails/iframe.css') %>-->
<%= MorriganEditorRails::Editor.preview_sanitize '<h2>asd</h2><p><b><a href="http://foo.com/">foo</a></b><img src="bar.jpg">' %>
<form id="form">
    <div class="has-error"><textarea id="textarea"><p>ads</p><p>fgh</p></textarea></div>
    <div morrigan-editor="true" id="editor" editor-width="100%" editor-height="300px" editor-bound-textarea="#textarea"></div>
    <input type="submit">
</form>