<!--<%= asset_path('morrigan_editor_rails/iframe.css') %>-->
<!--<%= MorriganEditorRails::Editor.sanitize '<b><a href="http://foo.com/">foo</a></b><img src="bar.jpg">' %>    -->
<form id="form">
    <textarea id="textarea"></textarea>
    <div morrigan-editor="true" id="editor" editor-width="100%" editor-height="300px" editor-bound-textarea="#textarea"></div>
    <input type="submit">
</form>